div#footer
  div.container-fluid
    div.row
      div.col-sm-12
    div.row
      div.col-sm-4
        a(href="")
          img.ccm-image-block.img-responsive.bID-1201(src="https://picsum.photos/300x300?random")
      div.col-sm-4
        ul.nav.nav-pills.nav-stacked
          li
            a(href="/contributors") Contributors
      div.col-sm-4
        p
          a(href="")
            img.image-marker(src="images/facebook.png")
          a(href="")
            img.image-marker(src="images/twitter.png")
          a(href="")
            img.image-marker(src="images/linkedin.png")
          a(href="")
            img.image-marker(src="images/instagram.png")
